.bg1 {
  background-image: url("../images/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  background-image: url("../images/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 15%;
}
.mouse {
  padding-left: 49%;
  padding-bottom: 7%;
}
.services {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;
  color: white;
}