.bg {
  background-image: url("../images/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 15%;
}
.mouse {
  margin-left: 48%;

  
}