.bg1 {
  background-image: url("../images/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  background-image: url("../images/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg3 {
  background-image: url("../images/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 13%;
  color: white;
}
.mouse {
  padding-left: 49%;
  padding-bottom: 7%;
}
#about {
  text-align: center;
}
.row {
  text-align: center;
}
.services {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;
  color: white;
}
#img1, #img2, #img3 {
  height: 20%;
  width: 70%;
  cursor: pointer;
  color: black;
}
#dec, #dev, #prd {
  cursor: pointer;
  display: none;
}
.heading {
  text-align: center;
}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8 {
 margin: 10px; 
 cursor: pointer;  
 float:left;
 list-style:none;
 overflow:hidden; 
 background: white;
}

div.wrapper{
  width:250px;
  height:250px;
  overflow:hidden;
  position:relative;
}

div.caption {
  font-family:arial;
  font-weight:bold;
  color: rgb(12, 1, 1);  
  font-size:25px;
  position:relative;
  text-align:center;
  padding:49px 15px 15px 15px;
  min-height:125px;
  line-height:30px;  
}

.contact {
  text-align: center;
  padding-top: 6%;
  color: white;
}
#form {
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}
.message {
  width: 740px;
  height: 200px;
  border: 1px solid white;
  background: transparent;
}
input[type="text"]
{
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    margin: 10px;
}
.name {
  width: 45%;
}
.email {
  width: 45%;
}
::placeholder{
  color: white;
  text-align: left;
}
#submit, #reset {
  color:  white;
  background:transparent;
  border-style: dashed;
  padding-left: 20px;
}
#submit:hover {
  background-color: black;
  color: gold;
}
#reset:hover {
  background-color: black;
  color: gold;
}
.social {
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}